.auth-container{
    background-image: url('../src/assets/images/auth-bg.png');
    background-size: cover;
    background-position: center center;
}
.bg-overlay{
    background: linear-gradient(45deg,rgba(55, 140, 47, 0.6),rgba(0, 0, 0, 0.6));
}

.sidebar-cont .ps-sidebar-container{
   background-color: rgba(31, 38, 62, 1);
   height:100vh;
}
.sidebar-cont  .ps-menu-button{
    color: #fff !important;
}
.sidebar-cont  .ps-menu-button:hover{
    background-color: rgba(0, 146, 77, 0.1) !important;
    border-left:4px solid rgba(0, 146, 77, 1)
}

.sidebar-cont  .sidebar-logo a{
    padding: 0 !important;

}
.sidebar-cont  .sidebar-logo a:hover{
    background-color: transparent !important;
    border:none

}

.item-img{
    width: 50px;
    border-radius: 50%;
}
.recipe-header{
    background-color: rgba(240, 255, 239, 1);
}
.sr-only{
    	position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;
}


.header-container{
    background: url(./assets/images/header-circles.svg) ,#009247 ;
    padding-inline: 20px;
    color: #fff;

}